parameters:
	ignoreErrors:
		-
			message: "#^Method App\\\\Actions\\\\Fortify\\\\CreateNewUser\\:\\:passwordRules\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: app/Actions/Fortify/CreateNewUser.php

		-
			message: "#^Method App\\\\Actions\\\\Fortify\\\\ResetUserPassword\\:\\:passwordRules\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: app/Actions/Fortify/ResetUserPassword.php

		-
			message: "#^Method App\\\\Actions\\\\Fortify\\\\UpdateUserPassword\\:\\:passwordRules\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: app/Actions/Fortify/UpdateUserPassword.php

		-
			message: "#^Parameter \\#1 \\$photo of method App\\\\Models\\\\User\\:\\:updateProfilePhoto\\(\\) expects Illuminate\\\\Http\\\\UploadedFile, string given\\.$#"
			count: 1
			path: app/Actions/Fortify/UpdateUserProfileInformation.php

		-
			message: "#^Method App\\\\Actions\\\\Jetstream\\\\CreateTeam\\:\\:create\\(\\) should return App\\\\Models\\\\Team but returns Illuminate\\\\Database\\\\Eloquent\\\\Model\\.$#"
			count: 1
			path: app/Actions/Jetstream/CreateTeam.php

		-
			message: "#^Parameter \\#1 \\$callback of method Illuminate\\\\Support\\\\Collection\\<int,Illuminate\\\\Database\\\\Eloquent\\\\Model\\>\\:\\:each\\(\\) expects callable\\(Illuminate\\\\Database\\\\Eloquent\\\\Model, int\\)\\: mixed, Closure\\(App\\\\Models\\\\Team\\)\\: void given\\.$#"
			count: 1
			path: app/Actions/Jetstream/DeleteUser.php

		-
			message: "#^Method App\\\\Actions\\\\Jetstream\\\\InviteTeamMember\\:\\:rules\\(\\) should return array\\{email\\: array, role\\?\\: array\\<Role\\|string\\>\\} but returns array\\{email\\: array\\{'required', 'email', Illuminate\\\\Validation\\\\Rules\\\\Unique\\}, role\\?\\: array\\{'required', 'string', Laravel\\\\Jetstream\\\\Rules\\\\Role\\}\\}\\.$#"
			count: 1
			path: app/Actions/Jetstream/InviteTeamMember.php

		-
			message: "#^Parameter \\#1 \\$invitation of class Laravel\\\\Jetstream\\\\Mail\\\\TeamInvitation constructor expects Laravel\\\\Jetstream\\\\TeamInvitation, Illuminate\\\\Database\\\\Eloquent\\\\Model given\\.$#"
			count: 1
			path: app/Actions/Jetstream/InviteTeamMember.php

		-
			message: "#^Cannot access property \\$id on Illuminate\\\\Database\\\\Eloquent\\\\Model\\|null\\.$#"
			count: 1
			path: app/Actions/Jetstream/RemoveTeamMember.php

		-
			message: "#^Method App\\\\Models\\\\TeamInvitation\\:\\:team\\(\\) return type with generic class Illuminate\\\\Database\\\\Eloquent\\\\Relations\\\\BelongsTo does not specify its types\\: TRelatedModel, TChildModel$#"
			count: 1
			path: app/Models/TeamInvitation.php

		-
			message: "#^Class Database\\\\Factories\\\\TeamFactory extends generic class Illuminate\\\\Database\\\\Eloquent\\\\Factories\\\\Factory but does not specify its types\\: TModel$#"
			count: 1
			path: database/factories/TeamFactory.php

		-
			message: "#^PHPDoc type string of property Database\\\\Factories\\\\TeamFactory\\:\\:\\$model is not covariant with PHPDoc type class\\-string\\<Illuminate\\\\Database\\\\Eloquent\\\\Model\\> of overridden property Illuminate\\\\Database\\\\Eloquent\\\\Factories\\\\Factory\\<Illuminate\\\\Database\\\\Eloquent\\\\Model\\>\\:\\:\\$model\\.$#"
			count: 1
			path: database/factories/TeamFactory.php

		-
			message: "#^Class Database\\\\Factories\\\\UserFactory extends generic class Illuminate\\\\Database\\\\Eloquent\\\\Factories\\\\Factory but does not specify its types\\: TModel$#"
			count: 1
			path: database/factories/UserFactory.php

		-
			message: "#^PHPDoc type string of property Database\\\\Factories\\\\UserFactory\\:\\:\\$model is not covariant with PHPDoc type class\\-string\\<Illuminate\\\\Database\\\\Eloquent\\\\Model\\> of overridden property Illuminate\\\\Database\\\\Eloquent\\\\Factories\\\\Factory\\<Illuminate\\\\Database\\\\Eloquent\\\\Model\\>\\:\\:\\$model\\.$#"
			count: 1
			path: database/factories/UserFactory.php

		-
			message: "#^Parameter \\#1 \\$state of method Illuminate\\\\Database\\\\Eloquent\\\\Factories\\\\Factory\\<Illuminate\\\\Database\\\\Eloquent\\\\Model\\>\\:\\:state\\(\\) expects array\\<string, mixed\\>\\|\\(callable\\(array\\<string, mixed\\>, Illuminate\\\\Database\\\\Eloquent\\\\Model\\|null\\)\\: array\\<string, mixed\\>\\), Closure\\(array, App\\\\Models\\\\User\\)\\: array\\{name\\: non\\-falsy\\-string, user_id\\: int, personal_team\\: true\\} given\\.$#"
			count: 1
			path: database/factories/UserFactory.php

		-
			message: "#^Call to an undefined method Illuminate\\\\Database\\\\Eloquent\\\\Model\\:\\:tokens\\(\\)\\.$#"
			count: 1
			path: tests/Feature/ApiTokenPermissionsTest.php

		-
			message: "#^Cannot access property \\$tokens on Illuminate\\\\Database\\\\Eloquent\\\\Model\\|null\\.$#"
			count: 3
			path: tests/Feature/ApiTokenPermissionsTest.php

		-
			message: "#^Parameter \\#1 \\$user of method Illuminate\\\\Foundation\\\\Testing\\\\TestCase\\:\\:actingAs\\(\\) expects Illuminate\\\\Contracts\\\\Auth\\\\Authenticatable, Illuminate\\\\Database\\\\Eloquent\\\\Model given\\.$#"
			count: 1
			path: tests/Feature/ApiTokenPermissionsTest.php

		-
			message: "#^Unreachable statement \\- code above always terminates\\.$#"
			count: 1
			path: tests/Feature/ApiTokenPermissionsTest.php

		-
			message: "#^Access to an undefined property Illuminate\\\\Database\\\\Eloquent\\\\Model\\:\\:\\$email\\.$#"
			count: 2
			path: tests/Feature/AuthenticationTest.php

		-
			message: "#^Parameter \\#1 \\$user of method Illuminate\\\\Foundation\\\\Testing\\\\TestCase\\:\\:actingAs\\(\\) expects Illuminate\\\\Contracts\\\\Auth\\\\Authenticatable, Illuminate\\\\Database\\\\Eloquent\\\\Model given\\.$#"
			count: 1
			path: tests/Feature/BrowserSessionsTest.php

		-
			message: "#^Cannot access property \\$tokens on Illuminate\\\\Database\\\\Eloquent\\\\Model\\|null\\.$#"
			count: 4
			path: tests/Feature/CreateApiTokenTest.php

		-
			message: "#^Parameter \\#1 \\$user of method Illuminate\\\\Foundation\\\\Testing\\\\TestCase\\:\\:actingAs\\(\\) expects Illuminate\\\\Contracts\\\\Auth\\\\Authenticatable, Illuminate\\\\Database\\\\Eloquent\\\\Model given\\.$#"
			count: 1
			path: tests/Feature/CreateApiTokenTest.php

		-
			message: "#^Unreachable statement \\- code above always terminates\\.$#"
			count: 1
			path: tests/Feature/CreateApiTokenTest.php

		-
			message: "#^Cannot access property \\$ownedTeams on Illuminate\\\\Database\\\\Eloquent\\\\Model\\|null\\.$#"
			count: 1
			path: tests/Feature/CreateTeamTest.php

		-
			message: "#^Cannot call method ownedTeams\\(\\) on Illuminate\\\\Database\\\\Eloquent\\\\Model\\|null\\.$#"
			count: 1
			path: tests/Feature/CreateTeamTest.php

		-
			message: "#^Parameter \\#1 \\$user of method Illuminate\\\\Foundation\\\\Testing\\\\TestCase\\:\\:actingAs\\(\\) expects Illuminate\\\\Contracts\\\\Auth\\\\Authenticatable, Illuminate\\\\Database\\\\Eloquent\\\\Model given\\.$#"
			count: 1
			path: tests/Feature/CreateTeamTest.php

		-
			message: "#^Parameter \\#1 \\$user of method Illuminate\\\\Foundation\\\\Testing\\\\TestCase\\:\\:actingAs\\(\\) expects Illuminate\\\\Contracts\\\\Auth\\\\Authenticatable, Illuminate\\\\Database\\\\Eloquent\\\\Model given\\.$#"
			count: 2
			path: tests/Feature/DeleteAccountTest.php

		-
			message: "#^Unreachable statement \\- code above always terminates\\.$#"
			count: 2
			path: tests/Feature/DeleteAccountTest.php

		-
			message: "#^Call to an undefined method Illuminate\\\\Database\\\\Eloquent\\\\Model\\:\\:tokens\\(\\)\\.$#"
			count: 1
			path: tests/Feature/DeleteApiTokenTest.php

		-
			message: "#^Cannot access property \\$tokens on Illuminate\\\\Database\\\\Eloquent\\\\Model\\|null\\.$#"
			count: 1
			path: tests/Feature/DeleteApiTokenTest.php

		-
			message: "#^Parameter \\#1 \\$user of method Illuminate\\\\Foundation\\\\Testing\\\\TestCase\\:\\:actingAs\\(\\) expects Illuminate\\\\Contracts\\\\Auth\\\\Authenticatable, Illuminate\\\\Database\\\\Eloquent\\\\Model given\\.$#"
			count: 1
			path: tests/Feature/DeleteApiTokenTest.php

		-
			message: "#^Unreachable statement \\- code above always terminates\\.$#"
			count: 1
			path: tests/Feature/DeleteApiTokenTest.php

		-
			message: "#^Access to an undefined property Illuminate\\\\Database\\\\Eloquent\\\\Model\\:\\:\\$currentTeam\\.$#"
			count: 2
			path: tests/Feature/DeleteTeamTest.php

		-
			message: "#^Call to an undefined method Illuminate\\\\Database\\\\Eloquent\\\\Model\\:\\:ownedTeams\\(\\)\\.$#"
			count: 1
			path: tests/Feature/DeleteTeamTest.php

		-
			message: "#^Call to an undefined method Illuminate\\\\Database\\\\Eloquent\\\\Model\\:\\:users\\(\\)\\.$#"
			count: 1
			path: tests/Feature/DeleteTeamTest.php

		-
			message: "#^Cannot access property \\$teams on Illuminate\\\\Database\\\\Eloquent\\\\Model\\|null\\.$#"
			count: 1
			path: tests/Feature/DeleteTeamTest.php

		-
			message: "#^Parameter \\#1 \\$user of method Illuminate\\\\Foundation\\\\Testing\\\\TestCase\\:\\:actingAs\\(\\) expects Illuminate\\\\Contracts\\\\Auth\\\\Authenticatable, Illuminate\\\\Database\\\\Eloquent\\\\Model given\\.$#"
			count: 2
			path: tests/Feature/DeleteTeamTest.php

		-
			message: "#^Access to an undefined property Illuminate\\\\Database\\\\Eloquent\\\\Model\\:\\:\\$email\\.$#"
			count: 1
			path: tests/Feature/EmailVerificationTest.php

		-
			message: "#^Access to an undefined property Illuminate\\\\Database\\\\Eloquent\\\\Model\\:\\:\\$id\\.$#"
			count: 2
			path: tests/Feature/EmailVerificationTest.php

		-
			message: "#^Cannot call method hasVerifiedEmail\\(\\) on Illuminate\\\\Database\\\\Eloquent\\\\Model\\|null\\.$#"
			count: 2
			path: tests/Feature/EmailVerificationTest.php

		-
			message: "#^Parameter \\#1 \\$user of method Illuminate\\\\Foundation\\\\Testing\\\\TestCase\\:\\:actingAs\\(\\) expects Illuminate\\\\Contracts\\\\Auth\\\\Authenticatable, Illuminate\\\\Database\\\\Eloquent\\\\Model given\\.$#"
			count: 3
			path: tests/Feature/EmailVerificationTest.php

		-
			message: "#^Unreachable statement \\- code above always terminates\\.$#"
			count: 3
			path: tests/Feature/EmailVerificationTest.php

		-
			message: "#^Access to an undefined property Illuminate\\\\Database\\\\Eloquent\\\\Model\\:\\:\\$currentTeam\\.$#"
			count: 5
			path: tests/Feature/InviteTeamMemberTest.php

		-
			message: "#^Parameter \\#1 \\$user of method Illuminate\\\\Foundation\\\\Testing\\\\TestCase\\:\\:actingAs\\(\\) expects Illuminate\\\\Contracts\\\\Auth\\\\Authenticatable, Illuminate\\\\Database\\\\Eloquent\\\\Model given\\.$#"
			count: 2
			path: tests/Feature/InviteTeamMemberTest.php

		-
			message: "#^Unreachable statement \\- code above always terminates\\.$#"
			count: 2
			path: tests/Feature/InviteTeamMemberTest.php

		-
			message: "#^Access to an undefined property Illuminate\\\\Database\\\\Eloquent\\\\Model\\:\\:\\$currentTeam\\.$#"
			count: 5
			path: tests/Feature/LeaveTeamTest.php

		-
			message: "#^Parameter \\#1 \\$user of method Illuminate\\\\Foundation\\\\Testing\\\\TestCase\\:\\:actingAs\\(\\) expects Illuminate\\\\Contracts\\\\Auth\\\\Authenticatable, Illuminate\\\\Database\\\\Eloquent\\\\Model given\\.$#"
			count: 2
			path: tests/Feature/LeaveTeamTest.php

		-
			message: "#^Parameter \\#1 \\$user of method Illuminate\\\\Foundation\\\\Testing\\\\TestCase\\:\\:actingAs\\(\\) expects Illuminate\\\\Contracts\\\\Auth\\\\Authenticatable, Illuminate\\\\Database\\\\Eloquent\\\\Model given\\.$#"
			count: 3
			path: tests/Feature/PasswordConfirmationTest.php

		-
			message: "#^Access to an undefined property Illuminate\\\\Database\\\\Eloquent\\\\Model\\:\\:\\$email\\.$#"
			count: 4
			path: tests/Feature/PasswordResetTest.php

		-
			message: "#^Access to an undefined property object\\:\\:\\$token\\.$#"
			count: 2
			path: tests/Feature/PasswordResetTest.php

		-
			message: "#^Unreachable statement \\- code above always terminates\\.$#"
			count: 4
			path: tests/Feature/PasswordResetTest.php

		-
			message: "#^Access to an undefined property Illuminate\\\\Database\\\\Eloquent\\\\Model\\:\\:\\$email\\.$#"
			count: 1
			path: tests/Feature/ProfileInformationTest.php

		-
			message: "#^Access to an undefined property Illuminate\\\\Database\\\\Eloquent\\\\Model\\:\\:\\$name\\.$#"
			count: 1
			path: tests/Feature/ProfileInformationTest.php

		-
			message: "#^Access to an undefined property Livewire\\\\Testing\\\\TestableLivewire\\:\\:\\$state\\.$#"
			count: 2
			path: tests/Feature/ProfileInformationTest.php

		-
			message: "#^Cannot access property \\$email on Illuminate\\\\Database\\\\Eloquent\\\\Model\\|null\\.$#"
			count: 1
			path: tests/Feature/ProfileInformationTest.php

		-
			message: "#^Cannot access property \\$name on Illuminate\\\\Database\\\\Eloquent\\\\Model\\|null\\.$#"
			count: 1
			path: tests/Feature/ProfileInformationTest.php

		-
			message: "#^Parameter \\#1 \\$user of method Illuminate\\\\Foundation\\\\Testing\\\\TestCase\\:\\:actingAs\\(\\) expects Illuminate\\\\Contracts\\\\Auth\\\\Authenticatable, Illuminate\\\\Database\\\\Eloquent\\\\Model given\\.$#"
			count: 2
			path: tests/Feature/ProfileInformationTest.php

		-
			message: "#^Unreachable statement \\- code above always terminates\\.$#"
			count: 3
			path: tests/Feature/RegistrationTest.php

		-
			message: "#^Access to an undefined property Illuminate\\\\Database\\\\Eloquent\\\\Model\\:\\:\\$currentTeam\\.$#"
			count: 5
			path: tests/Feature/RemoveTeamMemberTest.php

		-
			message: "#^Access to an undefined property Illuminate\\\\Database\\\\Eloquent\\\\Model\\:\\:\\$id\\.$#"
			count: 2
			path: tests/Feature/RemoveTeamMemberTest.php

		-
			message: "#^Parameter \\#1 \\$user of method Illuminate\\\\Foundation\\\\Testing\\\\TestCase\\:\\:actingAs\\(\\) expects Illuminate\\\\Contracts\\\\Auth\\\\Authenticatable, Illuminate\\\\Database\\\\Eloquent\\\\Model given\\.$#"
			count: 2
			path: tests/Feature/RemoveTeamMemberTest.php

		-
			message: "#^Cannot access property \\$two_factor_secret on Illuminate\\\\Database\\\\Eloquent\\\\Model\\|null\\.$#"
			count: 3
			path: tests/Feature/TwoFactorAuthenticationSettingsTest.php

		-
			message: "#^Cannot call method fresh\\(\\) on Illuminate\\\\Database\\\\Eloquent\\\\Model\\|null\\.$#"
			count: 1
			path: tests/Feature/TwoFactorAuthenticationSettingsTest.php

		-
			message: "#^Cannot call method recoveryCodes\\(\\) on Illuminate\\\\Database\\\\Eloquent\\\\Model\\|null\\.$#"
			count: 4
			path: tests/Feature/TwoFactorAuthenticationSettingsTest.php

		-
			message: "#^Parameter \\#1 \\$user of method Illuminate\\\\Foundation\\\\Testing\\\\TestCase\\:\\:actingAs\\(\\) expects Illuminate\\\\Contracts\\\\Auth\\\\Authenticatable, Illuminate\\\\Database\\\\Eloquent\\\\Model given\\.$#"
			count: 3
			path: tests/Feature/TwoFactorAuthenticationSettingsTest.php

		-
			message: "#^Unreachable statement \\- code above always terminates\\.$#"
			count: 3
			path: tests/Feature/TwoFactorAuthenticationSettingsTest.php

		-
			message: "#^Cannot access property \\$password on Illuminate\\\\Database\\\\Eloquent\\\\Model\\|null\\.$#"
			count: 3
			path: tests/Feature/UpdatePasswordTest.php

		-
			message: "#^Parameter \\#1 \\$user of method Illuminate\\\\Foundation\\\\Testing\\\\TestCase\\:\\:actingAs\\(\\) expects Illuminate\\\\Contracts\\\\Auth\\\\Authenticatable, Illuminate\\\\Database\\\\Eloquent\\\\Model given\\.$#"
			count: 3
			path: tests/Feature/UpdatePasswordTest.php

		-
			message: "#^Access to an undefined property Illuminate\\\\Database\\\\Eloquent\\\\Model\\:\\:\\$currentTeam\\.$#"
			count: 6
			path: tests/Feature/UpdateTeamMemberRoleTest.php

		-
			message: "#^Cannot call method hasTeamRole\\(\\) on Illuminate\\\\Database\\\\Eloquent\\\\Model\\|null\\.$#"
			count: 2
			path: tests/Feature/UpdateTeamMemberRoleTest.php

		-
			message: "#^Parameter \\#1 \\$user of method Illuminate\\\\Foundation\\\\Testing\\\\TestCase\\:\\:actingAs\\(\\) expects Illuminate\\\\Contracts\\\\Auth\\\\Authenticatable, Illuminate\\\\Database\\\\Eloquent\\\\Model given\\.$#"
			count: 2
			path: tests/Feature/UpdateTeamMemberRoleTest.php

		-
			message: "#^Access to an undefined property Illuminate\\\\Database\\\\Eloquent\\\\Model\\:\\:\\$currentTeam\\.$#"
			count: 2
			path: tests/Feature/UpdateTeamNameTest.php

		-
			message: "#^Cannot access property \\$ownedTeams on Illuminate\\\\Database\\\\Eloquent\\\\Model\\|null\\.$#"
			count: 1
			path: tests/Feature/UpdateTeamNameTest.php

		-
			message: "#^Parameter \\#1 \\$user of method Illuminate\\\\Foundation\\\\Testing\\\\TestCase\\:\\:actingAs\\(\\) expects Illuminate\\\\Contracts\\\\Auth\\\\Authenticatable, Illuminate\\\\Database\\\\Eloquent\\\\Model given\\.$#"
			count: 1
			path: tests/Feature/UpdateTeamNameTest.php
